@charset "UTF-8";

#content{
	margin-top: 200px;
    text-align: -webkit-center;
}

#form{
	border: 3px solid aliceblue;
    border-radius: 15px;
    width: 250px;
    padding: 25px 0px 20px 0px;
    background-color: aliceblue;
	margin-top: 15px;
}

#form2{
	border: 3px solid aliceblue;
    border-radius: 15px;
    width: 400px;
    padding: 25px 0px 20px 0px;
    background-color: aliceblue;
	margin-top: 15px;
}

#form ul, #form2 ul{
	padding:0px;
	margin-top: 20px;
}

#form ul li{
	margin-bottom:10px;
}

#form input, #form2 input{
	width: 150px;
    height: 5px;
    padding: 8px 0px 8px 8px;
	border-radius: 6px;
	border: 1px solid white;
	background-color: white;
}

.logSpan{
	font-size: 21px;
}

.logSpan img{
	width: 20px;
}

#login_btn{
	margin-top:10px;
}

.label1{
	font-size: 13px;
    color: gray;
    margin-left: -107px;
}

.label2{
	font-size: 13px;
    color: gray;
}



.msg{
	color: #006effc4;
    font-size: 10px;
    /* display: block; */
    /* margin: -5px 0px 0px 5px; */
    /* position: absolute; */
    text-align: left;
    width: 200px;
    margin: 10px 0px 0px 48px;

}

.input_area{
	margin-bottom: 13px;
}

#usermail{
	    font-weight: bold;
}

#findPass{
	margin-top: 25px;
}

#pp{
	    font-size: 13px;
}