@charset "UTF-8";

#container{
	margin-top: 200px;
}


#container_box{
	text-align: center;
}

.inputArea{
	border: 1px solid black;
	width: 500px;
    padding: 30px;
    margin: 0 auto;
    border-top: none;
}

.inputArea1{
	border: 1px solid black;
	width: 500px;
	height:420px;
    padding: 30px;
    margin: 0 auto;
	margin-top: 15px;
}

#rTitle{
	width:300px;
}

#rContent{
	width: 300px;
    height: 100px;
    margin-left: -24px;
    margin-top: 3px;
}

#rImg{
	margin-top: 20px;
	margin-left: 50px;
}

label{
	    float: left;
}

.pImg{
	width: 100px;
    height: 100px;
}

.inputArea2{
	border: 1px solid black;
    width: 550px;
	margin: 0 auto;
	height: 100px;
    padding: 5px;
}

.inputArea2 ul{
	width: 130px;
	margin-top: -76px;
}

.inputArea2 ul li{
	margin-bottom: 10px;
}