@charset "UTF-8";

body{
	margin:0;
	padding:0;
	
}

#container{
	text-align: center;
	margin-top: 250px;
}

#container_box{
	    width: 1000px;
    margin: auto;
}

#listUl{
	padding: 0px;
}

#listUl li{
	display: inline-block;
}

.productOne{
	display: inline-grid;
    margin: 25px;
}

.productPname{
	margin:3px;
}

#imgSize{
	width: 180px;
	height: 180px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.orderInfo{
	border: 1px solid black;
    width: 500px;
    margin: 0 auto;
}

.orderView{
	margin-top:40px;
}

.orderView li{
	margin-top:10px;
}

.orderList{
	border: 1px solid black;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    margin-bottom: 20px;
}

.orderList li{
	margin-bottom:10px;
}